In [1]:
import pandas as pd
import featuretools as ft
from woodwork.logical_types import Categorical

In [2]:
# let's load the data again

df = pd.read_csv("retail.csv", parse_dates=["invoice_date"])

In [3]:
# create and entity set

es = ft.EntitySet(id="data")

In [4]:
# Add the data to the entity

es = es.add_dataframe(
    dataframe=df,              # the dataframe with the data
    dataframe_name="data",     # unique name to associate with this dataframe
    index="rows",              # column name to index the items
    make_index=True,           # if true, create a new column with unique values
    time_index="invoice_date", # column containing time data
    logical_types={
        "customer_id": Categorical, # the id is numerical, but should be handled as categorical
    },
)

C:\Users\Sole\Documents\Repositories\envs\fsml\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\Sole\Documents\Repositories\envs\fsml\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\Sole\Documents\Repositories\envs\fsml\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\Sole\Documents\Repositories\envs\fsml\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\Sole\Documents\Repositories\envs\fsml\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\Sole\Documents\Repositories\envs\fsml\lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(

In [5]:
# Create a new dataframe with invoices
# indicating its relationship to the main data

es.normalize_dataframe(
    base_dataframe_name="data",     # Datarame name from which to split.
    new_dataframe_name="invoices",  # Name of the new dataframe.
    index="invoice",                # relationship will be created across this column.
    copy_columns=["customer_id"],   # columns to remove from base_dataframe and move to new dataframe.
)

Entityset: data
  DataFrames:
    data [Rows: 741301, Columns: 8]
    invoices [Rows: 40505, Columns: 3]
  Relationships:
    data.invoice -> invoices.invoice

In [6]:
# the operations between variables live in the transformation.binary module
# the documentation is lagging at the time of writing, so we can
# inspect the functions that are available like this:

ft.get_valid_primitives(es, target_dataframe_name="data", max_depth=2)

C:\Users\Sole\Documents\Repositories\envs\fsml\lib\site-packages\featuretools\primitives\standard\transform\time_series\numeric_lag.py:48: FutureWarning: NumericLag is deprecated and will be removed in a future version. Please use the 'Lag' primitive instead.
  warnings.warn(

([featuretools.primitives.standard.aggregation.n_most_common.NMostCommon,
  featuretools.primitives.standard.aggregation.min_count.MinCount,
  featuretools.primitives.standard.aggregation.max_consecutive_positives.MaxConsecutivePositives,
  featuretools.primitives.standard.aggregation.mode.Mode,
  featuretools.primitives.standard.aggregation.variance.Variance,
  featuretools.primitives.standard.aggregation.n_unique_weeks.NUniqueWeeks,
  featuretools.primitives.standard.aggregation.max_consecutive_zeros.MaxConsecutiveZeros,
  featuretools.primitives.standard.aggregation.std.Std,
  featuretools.primitives.standard.aggregation.count_less_than.CountLessThan,
  featuretools.primitives.standard.aggregation.num_unique.NumUnique,
  featuretools.primitives.standard.aggregation.count_above_mean.CountAboveMean,
  featuretools.primitives.standard.aggregation.n_unique_days_of_calendar_year.NUniqueDaysOfCalendarYear,
  featuretools.primitives.standard.aggregation.num_consecutive_greater_mean.NumConsecutiveGreaterMean,
  featuretools.primitives.standard.aggregation.first_last_time_delta.FirstLastTimeDelta,
  featuretools.primitives.standard.aggregation.num_peaks.NumPeaks,
  featuretools.primitives.standard.aggregation.skew.Skew,
  featuretools.primitives.standard.aggregation.n_most_common_frequency.NMostCommonFrequency,
  featuretools.primitives.standard.aggregation.n_unique_days.NUniqueDays,
  featuretools.primitives.standard.aggregation.count_inside_nth_std.CountInsideNthSTD,
  featuretools.primitives.standard.aggregation.time_since_last.TimeSinceLast,
  featuretools.primitives.standard.aggregation.count_outside_nth_std.CountOutsideNthSTD,
  featuretools.primitives.standard.aggregation.n_unique_days_of_month.NUniqueDaysOfMonth,
  featuretools.primitives.standard.aggregation.num_consecutive_less_mean.NumConsecutiveLessMean,
  featuretools.primitives.standard.aggregation.median_count.MedianCount,
  featuretools.primitives.standard.aggregation.avg_time_between.AvgTimeBetween,
  featuretools.primitives.standard.aggregation.max_min_delta.MaxMinDelta,
  featuretools.primitives.standard.aggregation.num_zero_crossings.NumZeroCrossings,
  featuretools.primitives.standard.aggregation.is_unique.IsUnique,
  featuretools.primitives.standard.aggregation.min_primitive.Min,
  featuretools.primitives.standard.aggregation.sum_primitive.Sum,
  featuretools.primitives.standard.aggregation.count_inside_range.CountInsideRange,
  featuretools.primitives.standard.aggregation.kurtosis.Kurtosis,
  featuretools.primitives.standard.aggregation.percent_unique.PercentUnique,
  featuretools.primitives.standard.aggregation.count_outside_range.CountOutsideRange,
  featuretools.primitives.standard.aggregation.time_since_last_min.TimeSinceLastMin,
  featuretools.primitives.standard.aggregation.has_no_duplicates.HasNoDuplicates,
  featuretools.primitives.standard.aggregation.count_below_mean.CountBelowMean,
  featuretools.primitives.standard.aggregation.count_greater_than.CountGreaterThan,
  featuretools.primitives.standard.aggregation.max_consecutive_negatives.MaxConsecutiveNegatives,
  featuretools.primitives.standard.aggregation.average_count_per_unique.AverageCountPerUnique,
  featuretools.primitives.standard.aggregation.median.Median,
  featuretools.primitives.standard.aggregation.time_since_last_max.TimeSinceLastMax,
  featuretools.primitives.standard.aggregation.n_unique_months.NUniqueMonths,
  featuretools.primitives.standard.aggregation.is_monotonically_increasing.IsMonotonicallyIncreasing,
  featuretools.primitives.standard.aggregation.time_since_first.TimeSinceFirst,
  featuretools.primitives.standard.aggregation.mean.Mean,
  featuretools.primitives.standard.aggregation.trend.Trend,
  featuretools.primitives.standard.aggregation.is_monotonically_decreasing.IsMonotonicallyDecreasing,
  featuretools.primitives.standard.aggregation.last.Last,
  featuretools.primitives.standard.aggregation.max_count.MaxCount,
  featuretools.primitives.standard.aggregation.count.Count,
  featuretools.primitives.standard.aggregation.first.First,
  featuretools.primitives.standard.aggregation.max_primitive.Max,
  featuretools.primitives.standard.aggregation.entropy.Entropy],
 [featuretools.primitives.standard.transform.numeric.square_root.SquareRoot,
  featuretools.primitives.standard.transform.datetime.is_first_week_of_month.IsFirstWeekOfMonth,
  featuretools.primitives.standard.transform.binary.divide_by_feature.DivideByFeature,
  featuretools.primitives.standard.transform.exponential.exponential_weighted_variance.ExponentialWeightedVariance,
  featuretools.primitives.standard.transform.numeric.absolute.Absolute,
  featuretools.primitives.standard.transform.binary.multiply_numeric_scalar.MultiplyNumericScalar,
  featuretools.primitives.standard.transform.binary.equal.Equal,
  featuretools.primitives.standard.transform.time_series.rolling_std.RollingSTD,
  featuretools.primitives.standard.transform.binary.less_than_equal_to_scalar.LessThanEqualToScalar,
  featuretools.primitives.standard.transform.exponential.exponential_weighted_average.ExponentialWeightedAverage,
  featuretools.primitives.standard.transform.datetime.is_month_start.IsMonthStart,
  featuretools.primitives.standard.transform.datetime.is_federal_holiday.IsFederalHoliday,
  featuretools.primitives.standard.transform.numeric.negate.Negate,
  featuretools.primitives.standard.transform.cumulative.cum_min.CumMin,
  featuretools.primitives.standard.transform.binary.divide_numeric_scalar.DivideNumericScalar,
  featuretools.primitives.standard.transform.savgol_filter.SavgolFilter,
  featuretools.primitives.standard.transform.absolute_diff.AbsoluteDiff,
  featuretools.primitives.standard.transform.numeric.natural_logarithm.NaturalLogarithm,
  featuretools.primitives.standard.transform.datetime.day_of_year.DayOfYear,
  featuretools.primitives.standard.transform.binary.not_equal_scalar.NotEqualScalar,
  featuretools.primitives.standard.transform.time_series.expanding.expanding_count.ExpandingCount,
  featuretools.primitives.standard.transform.binary.greater_than_equal_to_scalar.GreaterThanEqualToScalar,
  featuretools.primitives.standard.transform.binary.not_equal.NotEqual,
  featuretools.primitives.standard.transform.nth_week_of_month.NthWeekOfMonth,
  featuretools.primitives.standard.transform.datetime.is_quarter_end.IsQuarterEnd,
  featuretools.primitives.standard.transform.datetime.date_to_timezone.DateToTimeZone,
  featuretools.primitives.standard.transform.binary.less_than_equal_to.LessThanEqualTo,
  featuretools.primitives.standard.transform.time_series.numeric_lag.NumericLag,
  featuretools.primitives.standard.transform.datetime.week.Week,
  featuretools.primitives.standard.transform.datetime.weekday.Weekday,
  featuretools.primitives.standard.transform.numeric.sine.Sine,
  featuretools.primitives.standard.transform.datetime.is_lunch_time.IsLunchTime,
  featuretools.primitives.standard.transform.binary.greater_than_scalar.GreaterThanScalar,
  featuretools.primitives.standard.transform.binary.modulo_by_feature.ModuloByFeature,
  featuretools.primitives.standard.transform.is_in.IsIn,
  featuretools.primitives.standard.transform.datetime.is_working_hours.IsWorkingHours,
  featuretools.primitives.standard.transform.datetime.hour.Hour,
  featuretools.primitives.standard.transform.datetime.date_to_holiday.DateToHoliday,
  featuretools.primitives.standard.transform.cumulative.cum_mean.CumMean,
  featuretools.primitives.standard.transform.binary.less_than_scalar.LessThanScalar,
  featuretools.primitives.standard.transform.time_series.rolling_outlier_count.RollingOutlierCount,
  featuretools.primitives.standard.transform.binary.add_numeric.AddNumeric,
  featuretools.primitives.standard.transform.datetime.distance_to_holiday.DistanceToHoliday,
  featuretools.primitives.standard.transform.datetime.is_month_end.IsMonthEnd,
  featuretools.primitives.standard.transform.time_series.expanding.expanding_trend.ExpandingTrend,
  featuretools.primitives.standard.transform.binary.subtract_numeric_scalar.SubtractNumericScalar,
  featuretools.primitives.standard.transform.binary.greater_than_equal_to.GreaterThanEqualTo,
  featuretools.primitives.standard.transform.percent_change.PercentChange,
  featuretools.primitives.standard.transform.binary.scalar_subtract_numeric_feature.ScalarSubtractNumericFeature,
  featuretools.primitives.standard.transform.is_null.IsNull,
  featuretools.primitives.standard.transform.datetime.month.Month,
  featuretools.primitives.standard.transform.numeric.same_as_previous.SameAsPrevious,
  featuretools.primitives.standard.transform.datetime.is_year_start.IsYearStart,
  featuretools.primitives.standard.transform.time_series.rolling_trend.RollingTrend,
  featuretools.primitives.standard.transform.binary.add_numeric_scalar.AddNumericScalar,
  featuretools.primitives.standard.transform.time_series.lag.Lag,
  featuretools.primitives.standard.transform.exponential.exponential_weighted_std.ExponentialWeightedSTD,
  featuretools.primitives.standard.transform.numeric.tangent.Tangent,
  featuretools.primitives.standard.transform.datetime.is_weekend.IsWeekend,
  featuretools.primitives.standard.transform.cumulative.cum_sum.CumSum,
  featuretools.primitives.standard.transform.time_series.expanding.expanding_max.ExpandingMax,
  featuretools.primitives.standard.transform.datetime.part_of_day.PartOfDay,
  featuretools.primitives.standard.transform.datetime.is_year_end.IsYearEnd,
  featuretools.primitives.standard.transform.datetime.is_quarter_start.IsQuarterStart,
  featuretools.primitives.standard.transform.time_series.expanding.expanding_min.ExpandingMin,
  featuretools.primitives.standard.transform.binary.modulo_numeric.ModuloNumeric,
  featuretools.primitives.standard.transform.time_series.rolling_count.RollingCount,
  featuretools.primitives.standard.transform.binary.equal_scalar.EqualScalar,
  featuretools.primitives.standard.transform.time_series.expanding.expanding_mean.ExpandingMean,
  featuretools.primitives.standard.transform.datetime.day.Day,
  featuretools.primitives.standard.transform.datetime.minute.Minute,
  featuretools.primitives.standard.transform.time_series.rolling_max.RollingMax,
  featuretools.primitives.standard.transform.datetime.season.Season,
  featuretools.primitives.standard.transform.datetime.quarter.Quarter,
  featuretools.primitives.standard.transform.time_series.rolling_mean.RollingMean,
  featuretools.primitives.standard.transform.time_series.expanding.expanding_std.ExpandingSTD,
  featuretools.primitives.standard.transform.binary.modulo_numeric_scalar.ModuloNumericScalar,
  featuretools.primitives.standard.transform.numeric.cosine.Cosine,
  featuretools.primitives.standard.transform.binary.subtract_numeric.SubtractNumeric,
  featuretools.primitives.standard.transform.datetime.time_since.TimeSince,
  featuretools.primitives.standard.transform.numeric.percentile.Percentile,
  featuretools.primitives.standard.transform.datetime.second.Second,
  featuretools.primitives.standard.transform.cumulative.cum_count.CumCount,
  featuretools.primitives.standard.transform.binary.multiply_numeric.MultiplyNumeric,
  featuretools.primitives.standard.transform.binary.divide_numeric.DivideNumeric,
  featuretools.primitives.standard.transform.numeric.rate_of_change.RateOfChange,
  featuretools.primitives.standard.transform.datetime.days_in_month.DaysInMonth,
  featuretools.primitives.standard.transform.cumulative.cum_max.CumMax,
  featuretools.primitives.standard.transform.datetime.year.Year,
  featuretools.primitives.standard.transform.numeric.diff.Diff,
  featuretools.primitives.standard.transform.binary.greater_than.GreaterThan,
  featuretools.primitives.standard.transform.time_series.rolling_min.RollingMin,
  featuretools.primitives.standard.transform.binary.less_than.LessThan,
  featuretools.primitives.standard.transform.datetime.time_since_previous.TimeSincePrevious,
  featuretools.primitives.standard.transform.datetime.is_leap_year.IsLeapYear])

In [7]:
# Obtain new variable "amount" by multiplying
# price and quantity.

feature_matrix, feature_defs = ft.dfs(
    entityset=es,                          # the entity set
    target_dataframe_name="data",          # the dataframe for wich to create the feature
    agg_primitives=[],                     # we need an empty list to avoid returning the defo parameters
    trans_primitives=["multiply_numeric"], # the operation to create the new features
    primitive_options={                    # the features that we want to multiply
        ("multiply_numeric"): {
            'include_columns': {
                'data': ["quantity", "price"]
            }
        }
    },
    ignore_dataframes=["invoices"],
)

# display name of created features
feature_defs

[<Feature: customer_id>,
 <Feature: stock_code>,
 <Feature: description>,
 <Feature: quantity>,
 <Feature: price>,
 <Feature: price * quantity>]

In [8]:
feature_matrix.head()

,customer_id,stock_code,description,quantity,price,price * quantity
rows,,,,,,
0,13085.0,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,6.95,83.4
1,13085.0,79323P,PINK CHERRY LIGHTS,12,6.75,81.0
2,13085.0,79323W,WHITE CHERRY LIGHTS,12,6.75,81.0
3,13085.0,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2.10,100.8
4,13085.0,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.25,30.0

## In relation to pandas

In [9]:
# load data

df = pd.read_csv("retail.csv", parse_dates=["invoice_date"])

df.head()

,customer_id,invoice,invoice_date,stock_code,description,quantity,price
0,13085.0,489434,2009-12-01 07:45:00,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,6.95
1,13085.0,489434,2009-12-01 07:45:00,79323P,PINK CHERRY LIGHTS,12,6.75
2,13085.0,489434,2009-12-01 07:45:00,79323W,WHITE CHERRY LIGHTS,12,6.75
3,13085.0,489434,2009-12-01 07:45:00,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2.10
4,13085.0,489434,2009-12-01 07:45:00,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.25

In [10]:
# Add total amount of transaction

df["amount"] = df["quantity"].mul(df["price"])

df.head()

,customer_id,invoice,invoice_date,stock_code,description,quantity,price,amount
0,13085.0,489434,2009-12-01 07:45:00,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,6.95,83.4
1,13085.0,489434,2009-12-01 07:45:00,79323P,PINK CHERRY LIGHTS,12,6.75,81.0
2,13085.0,489434,2009-12-01 07:45:00,79323W,WHITE CHERRY LIGHTS,12,6.75,81.0
3,13085.0,489434,2009-12-01 07:45:00,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2.10,100.8
4,13085.0,489434,2009-12-01 07:45:00,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.25,30.0